@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jersey10-Regular';
  src: url('/fonts/Jersey10-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-Jersey10-Regular {
  font-family: 'Jersey10-Regular', sans-serif;
}
