---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-[#F4F3E8] justify-center flex w-full min-h-screen">
    <div class="w-full max-w-5xl p-5">
       <!-- tekst fra venstre -->
      <h1 class="flex font-bold text-3xl sm:text-4xl text-left">
        Skal jeg stemme til komunalvalget?
      </h1>
     
      <div class="flex rounded-lg justify-center pt-10">
    
      <div
        class="bg-[#FFFFFF] w-full flex-col rounded-lg"
      >
      <!-- Graf -->
              <h2 class="pt-5 px-5 text-xl sm:text-2xl md:text-3xl p-5 font-bold">
            Viste du at stemmeprocentet er faldet med 3,3 % siden 2005 og vil kun blive lavere i fremtiden?
          </h2>

        <img
            src="/Billeder/diagram.png"
            alt="Stemmeprocent diagram"
            class="w-full h-auto flex rounded-lg"
          />

        <!-- tekst og knapper -->
        <div class="text-left">
          <h2 class="text-3xl sm:text-4xl text-left px-5 p-5 font-bold mb-7">
            Tag testen og find ud af om DU bør stemme her:
          </h2>

          <div
            class="flex justify-center px-5 mb-5"
          >
            <a
              href="/spil"
              class="py-5 bg-stone-50 rounded-lg shadow-xl p-5 font-bold hover:bg-[#F4F3E8] text-center text-xl sm:text-2xl md:text-3xl"
              >Start</a
            >
        </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
