---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-[#F4F3E8] justify-center w-full h-200">
    <!-- tekst fra venstre -->
    <div class="w-full h-full p-20">
      <h1 class="flex font-bold text-7xl text-left">
        Ønsker du, at vores generation skal være den første uden lokal indflydelse?
      </h1>
      <p class="flex text-5xl text-left pt-3">
        
      </p>

      <div class="flex rounded-lg justify-center pt-10">
    
      <div
        class="bg-[#FFFFFF] w-full p-5 flex-col rounded-lg"
      >
    
        <!-- tekst og knapper -->
        <div class="text-left">
          <h2 class="text-6xl p-5 font-bold mb-7">
            Svar her:
          </h2>

          <div
            class="flex justify-center p-5 space-x-9"
          >
            <a
              href="/spil3voksne"
              class="bg-stone-50 rounded-lg shadow-xl p-5 font-bold hover:bg-[#F4F3E8] text-center text-9xl"
              >Ja!</a
             >
            <a
              href="/spil2tid"
              class="bg-stone-50 rounded-lg shadow-xl p-5 font-bold hover:bg-[#F4F3E8] text-center text-9xl"
              >Nej</a
            >

          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>