---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-[#F4F3E8] justify-center flex w-full">
    <div class="w-full max-w-5xl p-5">
       <!-- tekst fra venstre -->
     
      <div class="flex rounded-lg justify-center pt-10">
    
      <div
        class="bg-[#FFFFFF] p-5 w-full flex-col rounded-lg"
      >
        <!-- tekst og knapper -->
        <div class="text-left">
           <h1 class="flex font-bold text-3xl sm:text-4xl p-5 pb-5 text-left">
            Stem med til kommunalvalget den 18. november 2025!
          </h2>

        <img
            src="/Billeder/stem.gif"
            alt="Stemmeprocent diagram"
            class="w-full h-auto flex rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
