---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-[#F4F3E8] justify-center w-full h-200">
    <!-- tekst fra venstre -->
    <div class="w-full h-full p-20">
      <h1 class="flex font-bold text-7xl text-left">
        Stem til kommunalvalget den 18. november!
      </h1>
      <p class="flex text-5xl text-left pt-3">
        
    </div>
  </div>
</Layout>
